.box1 {
    background-color: darkgrey;
    height: 100%;
    position: relative;
    margin-right: 80px;
    margin-left: 80px;
    z-index: 6;
}
.box2 {
    background-color: whitesmoke;
    position:relative;
    margin-left: 20px;
    width: 1100px;
    height: 100px;
    z-index: 5;
}
.header1{
    background-color: white
}
.button{
    background-color: white;
}
.footer1{
    z-index: 5;
    position: relative;
    top: 20px;
    height: 60px;
    background-color: white;
}
.button1{
    background-color: seagreen
}
.footer2{
    z-index: 5;
    position: relative;
    top: 20px;
    height: 60px;
    background-color: seagreen;
}
.image{
    margin-top: 20px;
    margin-left: 20px;
}
.box3 {
    background-color: whitesmoke;
    position:relative;
    margin-left: 20px;
    width: 300px;
    height: 100px;
    z-index: 5;
}